

<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" routerLink="/dashboard">Sales Data Analysis</a>    
    <span class="nav-item text-nowrap" style="color:white; padding-left: 30px; ">Hi <strong>{{name }}</strong></span>
    <ul class="navbar-nav px-3">        
        <li class="nav-item text-nowrap">
            <a class="nav-link" (click)="logout()" style="cursor: default;">Sign out</a>
        </li>
    </ul>
</nav>

<!-- <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">SALES DATA ANALYSIS</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsing-nav-bar"
            aria-controls="collapsing-nav-bar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsing-nav-bar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/dashboard/import">Import dataset</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Summary</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" routerLink="/dashboard/sentiment">Review report</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="">Log out</a>
                </li>               
            </ul>
        </div>
    </div>
</nav> -->